/*--------------------------------

nucleo-icons Web Font - built using nucleoapp.com
License - nucleoapp.com/license/

-------------------------------- */
@font-face {
  font-family: 'nucleo-icons';
  src: url('/nucleo-icons.eot');
  src: url('/nucleo-icons.eot') format('embedded-opentype'), url('/nucleo-icons.eot') format('woff2'), url('/nucleo-icons.eot') format('woff'), url('/nucleo-icons.eot');
  font-weight: normal;
  font-style: normal;
}
